:root {
  --pastel-yellow: rgba(183, 225, 194, 0.167);
  --pastel-blue: rgba(89, 155, 165, 0.167);
}

html {
  box-sizing: border-box;
}

*,*::after, *::before {
  box-sizing: inherit;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
}

.card-title {
  text-align: center;
  padding: .5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


@keyframes slidein {
  from {
    transform: scale(0);
    align-content: space-between;
    width: 0%
  }
  to {
    transform: scale(1);
    align-content: center;
    width: 100%;
  }
}


.container-cards {
  display: flex;
  justify-content: space-evenly;  
  width: calc(100% - 2vw);
  animation-duration: 3s;
  animation-name: slidein;
  height: 50%;
  align-items: center;
}
.container-card {
  width: 130px;
  height: 300px;
  min-width: 0%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  min-width: 0%;
  max-width: 100%;
  padding: 0.3em;
  font-size: calc(1em + 20%);
  font-size: 1vmin;
  background-color: var(--pastel-yellow);
  /* background-color: var(--pastel-blue); */
  border-radius: .25em;
  flex-grow: 1;
  flex-shrink: 1;
}
.card:hover {
  box-shadow: 0 8px 16px 0 #9acd32;
}



.description {
  padding: .5em;
}
.description h3, p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}